%maincontainer {
    width: 100%;
    padding: 20px;
}
%centerdiv {
    max-width: 1170px;
    margin: auto;
    width: 95%;
}

%uppercase{
   text-transform:uppercase;
}
%margin {
    margin-bottom: 30px;
    margin-top: 30px;
}