/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

button {
  margin: auto;
  align-items: center;
  cursor: pointer;
  text-align: center;
  padding: 0; }

.maincontainer {
  width: 100%;
  padding: 20px; }

.container {
  max-width: 1170px;
  margin: auto;
  width: 95%; }

header h1, header li {
  text-transform: uppercase; }

.box h2 {
  margin-bottom: 30px;
  margin-top: 30px; }

header {
  display: flex;
  justify-content: space-between;
  margin-top: 55px; }
  header a {
    color: #cacaca; }
  header a:hover {
    color: black; }
  header h1 {
    font-size: 30px;
    color: black; }
  header ul {
    display: flex;
    align-items: center;
    width: 620px;
    justify-content: space-around; }
  header li {
    font-size: 14px;
    color: #cacaca; }

.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 55px; }
  .box h2 {
    font-size: 20px;
    color: #626262; }
  .box h2:hover {
    color: black; }
  .box p {
    margin-bottom: 30px;
    font-size: 14px;
    color: #626262;
    width: 420px;
    word-spacing: 1px;
    line-height: 20px; }
  .box p:hover {
    color: black; }

.buttoncenter {
  max-width: 1170px;
  margin: auto;
  margin-top: 30px; }

.buttonr {
  width: 120px;
  height: 50px;
  background: transparent;
  border: 2px solid #626262;
  margin: auto;
  text-align: center;
  color: #626262;
  line-height: 50px;
  cursor: pointer; }

.buttonr:hover {
  color: black;
  border: 2px solid #cacaca;
  background: transparent; }

@media only screen and (max-width: 950px) {
  header {
    justify-content: space-around; }
    header ul {
      justify-content: space-around;
      width: 350px; }
  .box {
    flex-wrap: wrap; } }

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 20px; } }

@media only screen and (max-width: 450px) {
  header h1 {
    font-size: 14px; }
  header ul {
    display: none; }
  .container {
    width: 280px;
    margin: auto;
    width: 95%; }
    .container .box {
      width: 280px; }
    .container p {
      width: 250px; }
    .container img {
      width: 250px; }
  .buttonr {
    width: 120px;
    height: 30px;
    line-height: 20px;
    font-size: 14px; } }
